pandas==2.2.2
numpy==1.26.4
scikit-learn==1.5.1
joblib==1.4.2
xgboost==2.1.1
tensorflow==2.16.2
matplotlib==3.9.1
seaborn==0.13.2
streamlit==1.38.0
plotly==5.22.0
python-dotenv==1.0.1
google-genai
openai==1.40.0
huggingface_hub>=0.24.0
shap==0.45.1